


.container{
    color: aqua;
    
    
}

.jumbotron-fluid{
    background-color: black;
}

body{
    background-color: aqua;
     
}

#goback{
    margin-left: 600px;
    border-radius: 50%;
    
    
}

.flash-card{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin-left: 450px;
  }
  
  .flash-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flash-card:hover .flash-inner {
    transform: rotateY(180deg);
  }
  
  .flash-front, .flash-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
   .flash-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
    
  } 
  
  .flash-back {
    background-color:black;
    color:aqua;
    transform: rotateY(180deg);
    z-index: 1;

  }